{% extends "_signedin_base.html" %}
{% block title %}plofile{% end %}
{% block content %}
<div class="profile">
    <h1 class="text-center" style="color:gray">プロフィール</h1>
    <form action="profile/update">
        <div class="container">
            {% if mode == "" or mode == "registered" %}
            <div class="row mt-4">
                <input type="text" placeholder="ニックネーム" class="form-control form-control-lg" name="nick-name" id="nick-name" value="{{ profile.attr["nick_name"] }}">
            </div>
            <div class="row mt-4">
                <label for="introduction" >自己紹介</label>
                <textarea class="form-control form-control-lg" name="introduction" id="introduction" rows="7">
                    {{ profile.attr["introduction"] }}
                </textarea>
            </div>
                {% if mode == "registered" %}
                <div id="output">
                    登録が完了しました。
                </div>
                {% end %}
            <div class="container">
                <div class="row mt-3">
                    <a class="btn btn-light btn-lg mr-2" href="/thread" role="button">戻る</a>
                    <button type="submit" class="btn btn-primary btn-lg mr-4">保存</button>
                    <a class="btn btn-light btn-lg" href="/signout" role="button">SignOut</a>
                </div>
            </div>
            {% end %}
            {% if mode == "readonly" %}
            <div class="row mt-4">
                <input type="text" placeholder="ニックネーム" class="form-control form-control-lg" name="nick-name" id="nick-name" value="{{ profile.attr["nick_name"] }}" readonly>
            </div>
            <div class="row mt-4">
                <label for="introduction" >自己紹介</label>
                <textarea class="form-control form-control-lg" name="introduction" id="introduction" rows="7" readonly>
                    {{ profile.attr["introduction"] }}
                </textarea>
            </div>
            <div class="container">
                <div class="row mt-3">
                    <a class="btn btn-light btn-lg mr-2" href="/chats/{{ thread }}" role="button">戻る</a>
                </div>
            </div>
            {% end %}
        </div>
    </form>
</div>
{%end%}
